@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  height: 150vh;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  align-items: center;
  background: #C9FFBF;
  background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100vw;
}

.hero {
  border-radius: 5px;
  background-color: #ffffff;
  height: 160px;
  margin: 0 auto;
  position: relative;
  top: -20%;
  width: 50%;
}

h1 {
  color: #f8d;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}

.btn {
  border: 1px solid #f8d;
  border-radius: 25px;
  color: #f8d;
  font-family: inherit;
  font-size: 1.4rem;
  height: 50px;
  left: calc(50% - 110px);
  letter-spacing: 1.54px;
  line-height: 18px;
  margin: 0 auto;
  position: absolute;
  padding: 16px 32px;
  transform: translateZ(0);
  transition: all .5s ease-in-out;
  text-transform: uppercase;
  top: 50%;
  visibility: visible;
  width: 220px;
}

.btn:hover {
  border: 1px solid #6a7;
  color: #6a7;
  opacity: 0.6;
  transform: scale(1.1);
}

.btn-floating {
  background-color: #feb0d6;
  border-radius: 50%;
  bottom: 15px;
  color: #fff;
  display: none;
  font-size: 16px;
  height: 60px;
  left: calc(100% - 75px);
  padding: 22px 17px;
  position: fixed;
  text-align: center;
  transform: translateZ(0);
  transition: all .5s ease-in-out;
  z-index: 9;
  width: 60px;
}

i {
  font-size: 20px;
}

.show-on-scroll {
  display: block;
  transition: all .5s ease-in-out;
  transform: translate(0%, 10%);
}